/* client/src/features/auth/ui/SignInForm/SignInForm.module.css */

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}